{% extends 'base.html.twig' %}

{% block title %}Effacer votre mot de passe{% endblock %}

{% block body %}
<h1 class="text-center mt-3">Effacer votre mot de passe</h1>
    <div class="form-control text-center">
        <div class="m-3">
        {{ form_start(resetForm) }}
            {{ form_row(resetForm.plainPassword) }}
            <button class="btn btn-primary">Reset password</button>
        {{ form_end(resetForm) }}
    </div>       
</div>  
{% endblock %}
