.bg_img {
  background-image: url(/images/snowboard.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 650px;
  position: relative;
  opacity: 0.8;
}
